#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px, 20px;
    font-size: 1,5em;
    color: rgb(250, 250, 250);
    background-color: rgb(17, 94, 17, 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0,25s;
}
.buttons:hover{
    background-color: bisque;
}